<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- VueJS CDN - development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/sytle.css" />
    <title>Twitter Clone</title>
  </head>

  <body>
    <div id="app" class="card">
      <i class="fab fa-twitter fa-lg fa-lw"></i>
      <!-- register for account -->
        <div class="register" v-if="!registered">
          <h2>Create your account</h2>
          <form @submit.prevent="registerAccount">
            <div class="form_group">
              <label for="name"
                >Name
                <span>{{ `${name.length} / ${max_length}` }}</span>
              </label>
              <input type="text" v-model="name" maxlength="25" required />
            </div>
            <div class="form_group">
              <label for="email"
                >Email
                <span>{{ `${email.length} / ${max_length}` }}</span>
              </label>
              <input type="email" v-model="email" maxlength="25" required />
            </div>
            <div class="form_group">
              <label for="password"
                >Password
                <span>{{ `${password.length} / ${max_pass_length}` }}</span>
              </label>
              <input
                type="password"
                v-model="password"
                maxlength="16"
                required
              />
            </div>
            <button type="submit">Register</button>
          </form>
          <div v-if="error.length > 0">{{error}}</div>
        </div>
        <!-- add a tweet -->
        <div v-else>
          <h1>Welcome {{userData.name}} write your first tweet!</h1>
        </div>
        
        <!-- Show all tweets -->
      
    </div>
  </body>
  <script src="./assets/js/main.js"></script>
</html>
